.margin {
  width: 1200px;
  margin: 0 auto;
}

#nav {
  height: 130px;
  width: 100%;
}

#nav .nav-toolbar {
  background-color: #525252;
  font-size: 12px;
  height: 40px;
}

#nav .nav-toolbar ul.toolbar-l {
  width: 720px;
  height: 40px;
  float: left;
}

#nav .nav-toolbar ul.toolbar-l li {
  float: left;
}

#nav .nav-toolbar ul.toolbar-l li a {
  color: #fff;
  display: block;
  line-height: 40px;
  padding: 0 10px;
}

#nav .nav-toolbar ul.toolbar-l li a i {
  display: inline-block;
  height: 9px;
  width: 12px;
  vertical-align: middle;
  background: url(../images/arrow-white.png) no-repeat center center;
}

#nav .nav-toolbar ul.toolbar-l li a:hover {
  color: #777;
}

#nav .nav-toolbar ul.toolbar-r {
  height: 40px;
  float: right;
}

#nav .nav-toolbar ul.toolbar-r li {
  float: left;
}

#nav .nav-toolbar ul.toolbar-r li a {
  color: #fff;
  padding: 0 15px;
  display: block;
  line-height: 40px;
}

#nav .nav-toolbar ul.toolbar-r li a:hover {
  color: #777;
}

#nav .nav-toolbar ul.toolbar-r li .cart {
  padding: 0 15px;
  line-height: 40px;
  background-color: #f26a18;
  cursor: pointer;
}

#nav .nav-toolbar ul.toolbar-r li .cart i.car {
  display: inline-block;
  width: 20px;
  height: 16px;
  vertical-align: middle;
  background: url(../images/carts.png) no-repeat center;
}

#nav .nav-toolbar ul.toolbar-r li .cart span {
  color: #fff;
}

#nav .nav-toolbar ul.toolbar-r li.header-cart {
  position: relative;
}

#nav .nav-toolbar ul.toolbar-r li.header-cart .cartcont {
  position: absolute;
  top: 39px;
  right: -1px;
  width: 333px;
  padding-top: 15px;
  border: 1px solid #c6c6c6;
  height: auto;
  display: none;
  z-index: 10;
}

#nav .nav-toolbar ul.toolbar-r li.header-cart .cartcont .mini {
  height: 80px;
  width: 333px;
  background: #fff url(../images/shopping_cart.png) no-repeat 20px;
}

#nav .nav-toolbar ul.toolbar-r li.header-cart .cartcont .mini p {
  padding: 30px 0 30px 110px;
  color: #ccc;
}

#nav .nav-toolbar ul.toolbar-r li.header-cart:hover .cart {
  background: #fff;
}

#nav .nav-toolbar ul.toolbar-r li.header-cart:hover i.car {
  background: url(../images/carts-sel.png) no-repeat center;
}

#nav .nav-toolbar ul.toolbar-r li.header-cart:hover .cartcont {
  display: block;
}

#nav .nav-toolbar ul.toolbar-r li.header-cart:hover span {
  color: #f26a18;
}

#nav .nav-toolbar ul.toolbar-r li.header-code {
  position: relative;
}

#nav .nav-toolbar ul.toolbar-r li.header-code .code {
  position: absolute;
  top: 40px;
  right: -1px;
  width: 174px;
  height: 233px;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  box-shadow: 0 1px 2px #ddd;
  background: url(../images/qrcode.png) no-repeat center;
  display: none;
  z-index: 10;
}

#nav .nav-toolbar ul.toolbar-r li.header-code .code a {
  position: absolute;
  bottom: 14px;
  height: 22px;
  width: 75px;
  padding: 0;
}

#nav .nav-toolbar ul.toolbar-r li.header-code .code a.andr {
  margin-left: 5px;
}

#nav .nav-toolbar ul.toolbar-r li.header-code .code a.ios {
  margin-left: 90px;
}

#nav .nav-toolbar ul.toolbar-r li.header-code:hover {
  background: #fff;
}

#nav .nav-toolbar ul.toolbar-r li.header-code:hover a {
  color: #000;
}

#nav .nav-toolbar ul.toolbar-r li.header-code:hover .code {
  display: block;
}

ul.loginbar {
  float: right;
}

ul.loginbar li {
  float: left;
}

ul.loginbar li a {
  display: block;
  line-height: 40px;
  padding: 0 15px;
  color: #fff;
  position: relative;
}

ul.loginbar li a:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  top: 10px;
  right: 0;
  background: #fff;
}

ul.loginbar li a:hover {
  color: #777;
}

.menue-box {
  position: relative;
  height: 90px;
  overflow: hidden;
}

.nav-top {
  height: 90px;
}

.nav-top .logo {
  float: left;
  padding: 17px 10px 17px 0;
}

.nav-top .logo img {
  height: 50px;
}

.nav-top .nav-list {
  float: left;
  height: 80px;
  width: 680px;
  overflow: hidden;
  margin-left: 15px;
}

.nav-top .middle-inner {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.nav-top .middle-inner .innerscroll {
  position: relative;
}

.nav-top .middle-inner .innerscroll li.list-item {
  float: left;
}

.nav-top .middle-inner .innerscroll li.list-item a.item-link {
  display: block;
  color: #767676;
  padding: 40px 15px 20px;
  font: 14px/20px "";
}

.nav-top .middle-inner .innerscroll li.list-item a.first {
  padding: 40px 15px 20px 0px;
}

.nav-top .middle-inner .innerscroll li.list-item a:hover {
  color: #f26a18;
}

.nav-top .searchbox {
  float: right;
  position: relative;
  width: 297px;
  height: 40px;
  padding: 25px 0;
}

.nav-top .searchbox .span {
  display: inline-block;
  width: 245px;
  position: relative;
  direction: ltr;
  height: 40px;
}

.nav-top .searchbox button.search {
  position: absolute;
  top: 25px;
  right: 0;
  width: 50px;
  height: 40px;
  background-color: #FDFDFD;
  border: 1px solid #e1e1e1;
  border-left: none;
  padding: 0;
}

.nav-top .searchbox button.search i {
  display: inline-block;
  width: 50px;
  height: 40px;
  vertical-align: middle;
  background: url(../images/search-normal.png);
}

.nav-top .searchbox button.search:hover {
  background: #f26a18;
}

.nav-top .searchbox button.search:hover i {
  background: url(../images/search-sel.png);
}

.nav-top .searchbox input[type=text] {
  float: left;
  width: 235px;
  height: 38px;
  padding: 0 5px;
  line-height: 40px;
  margin: 0;
  border: 1px solid #E1E1E1;
}

.nav-top .searchbox .hotwords {
  position: absolute;
  top: 35px;
  right: 55px;
  max-width: 140px;
  height: 24px;
}

.nav-top .searchbox .hotwords a {
  padding: 4px;
  margin-left: 5px;
  font-size: 12px;
  color: #765767;
  background: #ededed;
}

.nav-top .searchbox .hotwords a:hover {
  background: #f26a18;
  color: #fff;
}

.child-list {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  z-index: 50;
  height: 200px;
  overflow: hidden;
  background: #fff;
}

.child-list ul {
  margin: auto;
  display: block;
  width: 1200px;
}

.child-list ul li.childitem {
  width: 240px;
  height: 200px;
  float: left;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.child-list ul li.childitem:after {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #ddd;
  width: 1px;
  height: 112px;
}

.child-list ul li.childitem.enditem:after {
  display: none;
}

.child-list ul li.childitem .figure {
  margin: 5px 56px;
  width: 128px;
  height: 118px;
}

.child-list ul li.childitem .figure a {
  display: block;
  width: 100%;
  height: 100%;
}

.child-list ul li.childitem .figure a img {
  width: 128px;
  height: 118px;
}

.child-list ul li.childitem h4.goodstitle {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.child-list ul li.childitem h4.goodstitle a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.child-list ul li.childitem p.price {
  font-size: 14px;
  color: #ff4301;
}

.box {
  width: 1200px;
  height: 460px;
  position: relative;
}

.box .imgbox {
  width: 1200px;
  height: 460px;
}

.box .imgbox img {
  width: 1200px;
  height: 460px;
}

.bannercont {
  height: 670px;
}

.bannercont .bobanner {
  margin-top: 10px;
  width: 1200px;
}

.bannercont .bobanner ul li {
  height: 200px;
  width: 294px;
  float: left;
  margin-right: 8px;
}

.bannercont .bobanner ul li.last {
  margin-right: 0;
}

.bannercont .bobanner ul li a {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.goodscont {
  height: 4220px;
  width: 100%;
  margin: 4px auto 0;
}

.goodscont .shopcard, .goodscont .sportcard, .goodscont .suitscard, .goodscont .partcard, .goodscont .familycard {
  margin-top: 43px;
  position: relative;
}

.goodscont .shopcard .cardheader, .goodscont .sportcard .cardheader, .goodscont .suitscard .cardheader, .goodscont .partcard .cardheader, .goodscont .familycard .cardheader {
  position: relative;
  width: 100%;
}

.goodscont .shopcard .cardheader h2, .goodscont .sportcard .cardheader h2, .goodscont .suitscard .cardheader h2, .goodscont .partcard .cardheader h2, .goodscont .familycard .cardheader h2 {
  font-weight: 200;
  font-size: 24px;
  color: #2b2b2b;
}

.goodscont .shopcard .cardheader a, .goodscont .sportcard .cardheader a, .goodscont .suitscard .cardheader a, .goodscont .partcard .cardheader a, .goodscont .familycard .cardheader a {
  color: #232323;
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 12px;
}

.goodscont .shopcard .cardbody, .goodscont .sportcard .cardbody, .goodscont .suitscard .cardbody, .goodscont .partcard .cardbody, .goodscont .familycard .cardbody {
  margin-top: 18px;
}

.goodscont .shopcard .cardbody .goodsbanner, .goodscont .sportcard .cardbody .goodsbanner, .goodscont .suitscard .cardbody .goodsbanner, .goodscont .partcard .cardbody .goodsbanner, .goodscont .shopcard .cardbody .goodsbanner1, .goodscont .sportcard .cardbody .goodsbanner1, .goodscont .suitscard .cardbody .goodsbanner1, .goodscont .partcard .cardbody .goodsbanner1, .goodscont .familycard .cardbody .goodsbanner, .goodscont .familycard .cardbody .goodsbanner1 {
  width: 464px;
  height: 600px;
  position: relative;
  float: left;
}

.goodscont .shopcard .cardbody .goodsbanner .imgbox, .goodscont .sportcard .cardbody .goodsbanner .imgbox, .goodscont .suitscard .cardbody .goodsbanner .imgbox, .goodscont .partcard .cardbody .goodsbanner .imgbox, .goodscont .shopcard .cardbody .goodsbanner1 .imgbox, .goodscont .sportcard .cardbody .goodsbanner1 .imgbox, .goodscont .suitscard .cardbody .goodsbanner1 .imgbox, .goodscont .partcard .cardbody .goodsbanner1 .imgbox, .goodscont .familycard .cardbody .goodsbanner .imgbox, .goodscont .familycard .cardbody .goodsbanner1 .imgbox {
  width: 464px;
  height: 600px;
}

.goodscont .shopcard .cardbody .goodsbanner .imgbox img, .goodscont .sportcard .cardbody .goodsbanner .imgbox img, .goodscont .suitscard .cardbody .goodsbanner .imgbox img, .goodscont .partcard .cardbody .goodsbanner .imgbox img, .goodscont .shopcard .cardbody .goodsbanner1 .imgbox img, .goodscont .sportcard .cardbody .goodsbanner1 .imgbox img, .goodscont .suitscard .cardbody .goodsbanner1 .imgbox img, .goodscont .partcard .cardbody .goodsbanner1 .imgbox img, .goodscont .familycard .cardbody .goodsbanner .imgbox img, .goodscont .familycard .cardbody .goodsbanner1 .imgbox img {
  width: 464px;
  height: 600px;
}

.goodscont .shopcard .cardbody .goodslist, .goodscont .sportcard .cardbody .goodslist, .goodscont .suitscard .cardbody .goodslist, .goodscont .partcard .cardbody .goodslist, .goodscont .familycard .cardbody .goodslist {
  height: 600px;
  margin-left: 480px;
}

.goodscont .shopcard .cardbody .goodslist .goodsitem, .goodscont .sportcard .cardbody .goodslist .goodsitem, .goodscont .suitscard .cardbody .goodslist .goodsitem, .goodscont .partcard .cardbody .goodslist .goodsitem, .goodscont .familycard .cardbody .goodslist .goodsitem {
  width: 240px;
  height: 300px;
  position: relative;
  float: left;
  text-align: center;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
  box-sizing: border-box;
}

.goodscont .shopcard .cardbody .goodslist .goodsitem .figure, .goodscont .sportcard .cardbody .goodslist .goodsitem .figure, .goodscont .suitscard .cardbody .goodslist .goodsitem .figure, .goodscont .partcard .cardbody .goodslist .goodsitem .figure, .goodscont .familycard .cardbody .goodslist .goodsitem .figure {
  width: 180px;
  height: 167px;
  margin: 26px 30px;
}

.goodscont .shopcard .cardbody .goodslist .goodsitem.nobottom, .goodscont .sportcard .cardbody .goodslist .goodsitem.nobottom, .goodscont .suitscard .cardbody .goodslist .goodsitem.nobottom, .goodscont .partcard .cardbody .goodslist .goodsitem.nobottom, .goodscont .familycard .cardbody .goodslist .goodsitem.nobottom {
  border-bottom: 0;
}

.goodscont .shopcard .cardbody .goodslist .goodsitem.noright, .goodscont .sportcard .cardbody .goodslist .goodsitem.noright, .goodscont .suitscard .cardbody .goodslist .goodsitem.noright, .goodscont .partcard .cardbody .goodslist .goodsitem.noright, .goodscont .familycard .cardbody .goodslist .goodsitem.noright {
  border-right: 0;
}

.goodscont .shopcard .cardbody .goodslist .goodsitem a, .goodscont .sportcard .cardbody .goodslist .goodsitem a, .goodscont .suitscard .cardbody .goodslist .goodsitem a, .goodscont .partcard .cardbody .goodslist .goodsitem a, .goodscont .familycard .cardbody .goodslist .goodsitem a {
  display: block;
  width: 100%;
  height: 100%;
}

.goodscont .shopcard .cardbody .goodslist .goodsitem a img, .goodscont .sportcard .cardbody .goodslist .goodsitem a img, .goodscont .suitscard .cardbody .goodslist .goodsitem a img, .goodscont .partcard .cardbody .goodslist .goodsitem a img, .goodscont .familycard .cardbody .goodslist .goodsitem a img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.goodscont .shopcard .cardbody .goodslist .goodsitem h4.goodstitle, .goodscont .sportcard .cardbody .goodslist .goodsitem h4.goodstitle, .goodscont .suitscard .cardbody .goodslist .goodsitem h4.goodstitle, .goodscont .partcard .cardbody .goodslist .goodsitem h4.goodstitle, .goodscont .familycard .cardbody .goodslist .goodsitem h4.goodstitle {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.goodscont .shopcard .cardbody .goodslist .goodsitem h4.goodstitle a, .goodscont .sportcard .cardbody .goodslist .goodsitem h4.goodstitle a, .goodscont .suitscard .cardbody .goodslist .goodsitem h4.goodstitle a, .goodscont .partcard .cardbody .goodslist .goodsitem h4.goodstitle a, .goodscont .familycard .cardbody .goodslist .goodsitem h4.goodstitle a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #232323;
}

.goodscont .shopcard .cardbody .goodslist .goodsitem p.price, .goodscont .sportcard .cardbody .goodslist .goodsitem p.price, .goodscont .suitscard .cardbody .goodslist .goodsitem p.price, .goodscont .partcard .cardbody .goodslist .goodsitem p.price, .goodscont .familycard .cardbody .goodslist .goodsitem p.price {
  color: #ff4301;
  font-size: 14px;
}

.goodscont .shopcard .cardbody .goodslist .goodsitem p.comment, .goodscont .sportcard .cardbody .goodslist .goodsitem p.comment, .goodscont .suitscard .cardbody .goodslist .goodsitem p.comment, .goodscont .partcard .cardbody .goodslist .goodsitem p.comment, .goodscont .familycard .cardbody .goodslist .goodsitem p.comment {
  color: #959595;
  font-size: 12px;
}

.goodscont .shopcard .cardbody .goodslist .goodsitem .keywords a, .goodscont .sportcard .cardbody .goodslist .goodsitem .keywords a, .goodscont .suitscard .cardbody .goodslist .goodsitem .keywords a, .goodscont .partcard .cardbody .goodslist .goodsitem .keywords a, .goodscont .familycard .cardbody .goodslist .goodsitem .keywords a {
  display: block;
  padding: 12px 12px 6px;
  font-size: 12px;
  text-align: left;
  color: #fff;
}

.goodscont .shopcard .cardfoot, .goodscont .sportcard .cardfoot, .goodscont .suitscard .cardfoot, .goodscont .partcard .cardfoot, .goodscont .familycard .cardfoot {
  height: 1px;
  width: 100%;
  background: #e2e2e2;
  margin-top: 55px;
}

.goodscont .sportcard .cardbody {
  position: relative;
  width: 710px;
  height: 600px;
}

.goodscont .sportcard .cardbody .goodsbanner {
  width: 710px;
  height: 600px;
  position: relative;
  float: left;
  background: lightpink;
}

.goodscont .sportcard .cardbody .goodslist {
  width: 480px;
  height: 600px;
  margin-left: 720px;
}

.goodscont .sportcard .cardbody .goodslist .goodsitem.full {
  height: 300px;
  width: 480px;
  border-bottom: 1px solid #e2e2e2;
  border-right: 0;
}

.goodscont .sportcard .cardbody .goodslist .goodsitem.full .figureb {
  height: 248px;
  width: 420;
  margin: 26px 30px;
}

.goodscont .sportcard .cardbody .goodslist .goodsitem.full .figureb a {
  display: block;
  width: 100%;
  height: 100%;
}

.goodscont .sportcard .cardbody .goodslist .goodsitem.full .figureb a img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.goodscont .suitscard .cardbody {
  height: 300px;
}

.goodscont .suitscard .cardbody .goodsbanner2 {
  position: relative;
  float: left;
  height: 300px;
  width: 464px;
}

.goodscont .suitscard .cardbody .goodsbanner2 .imgbox {
  width: 464px;
  height: 300px;
}

.goodscont .suitscard .cardbody .goodsbanner2 .imgbox img {
  width: 464px;
  height: 300px;
}

.goodscont .suitscard .cardbody .goodslist {
  height: 300px;
  margin-left: 480px;
}

.goodscont .partcard .cardbody .goodsbanner3 {
  width: 235px;
  height: 600px;
  position: relative;
  float: left;
}

.goodscont .partcard .cardbody .goodsbanner3 .imgbox {
  width: 235px;
  height: 600px;
}

.goodscont .partcard .cardbody .goodsbanner3 .imgbox img {
  width: 235px;
  height: 600px;
}

.goodscont .partcard .cardbody .goodslist {
  margin-left: 240px;
}

.goodscont .servicecard {
  margin-top: 43px;
  position: relative;
}

.goodscont .servicecard .cardheader {
  position: relative;
  width: 100%;
}

.goodscont .servicecard .cardheader h2 {
  font-weight: 200;
  font-size: 24px;
  color: #2b2b2b;
}

.goodscont .servicecard .cardheader a {
  color: #232323;
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 12px;
}

.goodscont .servicecard .cardbody {
  margin-top: 18px;
}

.goodscont .servicecard .cardbody .serviceitem {
  float: left;
  width: 390px;
  height: 262px;
  margin-right: 15px;
}

.goodscont .servicecard .cardbody .serviceitem.enditem {
  margin-right: 0;
}

.goodscont .servicecard .cardfoot {
  height: 1px;
  width: 100%;
  background: #e2e2e2;
  margin-top: 55px;
}

.goodscont .videocard {
  margin-top: 43px;
  position: relative;
}

.goodscont .videocard .cardheader {
  position: relative;
  width: 100%;
}

.goodscont .videocard .cardheader h2 {
  font-weight: 200;
  font-size: 24px;
  color: #2b2b2b;
}

.goodscont .videocard .cardheader a {
  color: #232323;
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 12px;
}

.goodscont .videocard .cardbody {
  margin-top: 18px;
}

.goodscont .videocard .cardbody .videoitem {
  float: left;
  width: 395px;
  height: 326px;
  margin-right: 7px;
}

.goodscont .videocard .cardbody .videoitem.enditem {
  margin-right: 0;
}

.goodscont .videocard .cardfoot {
  height: 1px;
  width: 100%;
  background: #e2e2e2;
  margin-top: 55px;
}

#footer {
  height: 530px;
  width: 100%;
  background-color: #1f1f1f;
  margin-top: 30px;
}

#footer .service {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0 15px;
  border-bottom: 1px solid #3c3c3c;
}

#footer .service ul {
  height: 40px;
  width: 1200px;
}

#footer .service ul li {
  float: left;
  position: relative;
}

#footer .service ul li a {
  display: block;
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  padding: 0 39px;
  color: #525252;
}

#footer .service ul li a i {
  margin-right: 5px;
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  line-height: 30px;
}

#footer .service ul li a i.i-seven {
  background: url(../images/seven.png) no-repeat -1px;
}

#footer .service ul li a i.i-fifteen {
  background: url(../images/fifteen.png) no-repeat -1px;
}

#footer .service ul li a i.i-free {
  width: 48px;
  background: url(../images/free.png) no-repeat -2px;
}

#footer .service ul li a i.i-local {
  background: url(../images/local.png) no-repeat -1px;
}

#footer .service ul li a small {
  vertical-align: baseline;
  font-size: 12px;
}

#footer .footer-list {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #525252;
}

#footer .footer-list .footer-table {
  width: 100%;
  text-align: left;
}

#footer .footer-list .footer-table th {
  font-size: 15px;
  padding: 20px 0 8px;
  text-align: left;
  color: #525252;
}

#footer .footer-list .footer-table td a {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: left;
  display: block;
  padding: 4px 0;
  color: #525252;
}

#footer .footer-list .footer-table td a i {
  display: inline-block;
  vertical-align: middle;
}

#footer .footer-list .footer-table td a i.i-bob {
  height: 14px;
  width: 16px;
  background: url(../images/bob.png);
}

#footer .footer-list .footer-table td a i.i-reco {
  height: 18px;
  width: 31px;
  background: url(../images/reco.png);
}

#footer .footer-list .footer-table td a i.i-email {
  height: 14px;
  width: 16px;
  background: url(../images/email.png);
}

#footer .footer-list .footer-table td a i.i-busy {
  height: 18px;
  width: 31px;
  background: url(../images/busy.png);
}

#footer .footer-list .footer-table td a i.i-phone {
  height: 14px;
  width: 16px;
  background: url(../images/phone.png);
}

#footer .copyright {
  width: 1200px;
  margin: 20px auto;
  color: #525252;
  text-align: center;
}

#footer .footer-licences {
  text-align: center;
}

.sidebar {
  position: fixed;
  z-index: 100;
  right: 10px;
  top: 50%;
  height: 200px;
  width: 40px;
  font-size: 16px;
}

.sidebar ul li {
  border-bottom: 2px solid #fff;
  background: #aaa;
  color: #f26a18;
  text-align: center;
}
